<app-header [title]="title || 'Card page'"></app-header>


<ion-content>
  <ion-card mode="ios" color="primary">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae ullam repellendus inventore vel labore velit assumenda tempore commodi molestias! Facere esse delectus ipsam explicabo enim recusandae laborum dicta eaque aut.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item color="primary">
      <ion-icon color="light" slot="start" name="pin"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>
    <ion-card-content>
      Lo
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic reiciendis vero cupiditate inventore culpa in corrupti facilis. Aspernatur recusandae id, omnis minus libero quasi earum asperiores, saepe dignissimos modi eum!
    </ion-card-content>
  </ion-card>
</ion-content>
